<?xml version="1.0"?>
<configuration>

  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>-->
  
  <!-- Service Model-->
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" messageEncoding="Mtom"
                 maxReceivedMessageSize="1000000000">
          <readerQuotas maxArrayLength="1000000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="mexBehavior"
               name="HotelService.Hotel">
        <endpoint address="http://localhost/california/HotelService.svc"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttp"
                  contract="HotelService.IHotel" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost"/>
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
